@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #ef7ca93d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-kavoon);
}

.blog-title {
  font-family: var(--font-poppins);
  font-weight: 600;
}

.glass {
  /* From https://css.glass */
  background: rgba(251, 223, 233, 0.77);
  backdrop-filter: blur(7px);
}

.glass-strong {
  /* From https://css.glass */
  background: rgba(251, 223, 233, 0.87);
  backdrop-filter: blur(10px);
}

.post-content {
  font-size: 1.25rem;
  line-height: 1.5;
}

.post-content > h1,
.post-content > h2,
.post-content > h3,
.post-content > h4,
.post-content > h5,
.post-content > h6 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-family: var(--font-poppins);
  font-weight: 800;
}

.post-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.post-content ul > li {
  margin-bottom: 0.5rem;
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 90%;
  min-width: 0;
}

/* h1 {
  color: black;
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke: 2px black;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
