@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #ef7ca93d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-kavoon);
}

.blog-title {
  font-family: var(--font-poppins);
  font-weight: 600;
}

.glass {
  /* From https://css.glass */
  background: rgba(251, 223, 233, 0.77);
  backdrop-filter: blur(7px);
}

.glass-strong {
  /* From https://css.glass */
  background: rgba(251, 223, 233, 0.87);
  backdrop-filter: blur(10px);
}

.post-content {
  font-size: 1.25rem;
  line-height: 1.5;
}

.post-content > h1,
.post-content > h2,
.post-content > h3,
.post-content > h4,
.post-content > h5,
.post-content > h6 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-family: var(--font-poppins);
  font-weight: 800;
}

.post-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.post-content ul > li {
  margin-bottom: 0.5rem;
}

.embla__viewport {
  overflow: hidden;
  --slide-spacing: 1.25rem;
}
.embla__container {
  display: flex;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 90%;
  min-width: 0;
  padding-left: var(--slide-spacing);
  display: flex;
  justify-content: center;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  z-index: 9;
  /* margin-top: 1.8rem; */
}
.embla__buttons {
  /* display: grid; */
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  /* box-shadow: inset 0 0 0 0.2rem white; */
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem black;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  background-color: #e61252;
}

/* h1 {
  color: black;
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke: 2px black;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
