@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ef7ca93d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-kavoon);
}

/* h1 {
  color: black;
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke: 2px black;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
